@font-face{
 	font-family:"FontAwesome";
 	src: url("fontawesome-webfont.woff");
}

.fa-meGusta::before{
	font-family:"FontAwesome", sans-serif;
	content:"\f057";
 	font-size:50px;
	color:green;
}

@media (max-width: 575px){

}
@media (min-width: 576px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px){
	
}